/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET CSS END*/

body {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'HelveticaNeue-Thin', sans-serif;
}
h1 {
    color: red;
}
/******************** Helper classes ****************/
* {
    box-sizing: border-box;
}
.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}
p,
ul li,
ol li {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
}

h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
/****************** End of Helper classes ***********/

/************ header  *************/
#hero {
    background-image: linear-gradient(rgba(218, 51, 51, .6), rgba(218, 51, 51, .6)), url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:850px;
    overflow: hidden;
}
#hero h2 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
}
#hero p {
    margin: 0 auto;
    color: white;
    font-size: 36px;
}
.logo {
    display: inline-block;
}
.navbar {
    display: inline-block;
}
#header-main {
    display: inline-block;
    padding-top: 70px;
    height: 800px;
}
.navbar ul li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

#top-header {
    padding-top: 40px;
}
.navbar ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 3px;
    border-bottom: 4px solid white transparent;
    transition: border-bottom 0.2s, color 0.2s;
}
.navbar ul li a:hover {
    border-bottom: 4px solid white;
    transition: border-bottom 0.2s, color 0.2s;
}
#header-text {
    float: left;
    display: inline-block;
    width: 40%;
    padding-top: 40px;
}
#iphone-image {
    float: right;
    display: block;
    height: 947px;
}
#header-download-button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #282828;
    width: 320px;
    transition: .3s;
    border-radius: 50px;
}
#header-download-button:hover {
    background: #383737;
    transition: .3s;
}
#header-download-button a {
    text-decoration: none;
    color: white;
}
#header-download-button a img {
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}
/************* end of header ******/

/************ main section ***************/
.app-features h2 {
    color: #8a8a8a;
    width: 500px;
    margin: 0 auto;
    padding-top: 86px;
}
.app-features p {
    color: #545454;
    font-family: 'HelveticaNeue-Thin', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    width: 860px;
    padding-top: 48px;
}
#features {
    margin-top: 62px;
    margin-bottom: 126px;
    overflow: hidden;
}
.feature {
    float: left;
    width: 280px;
    margin-right: 86px;

}
.feature div {
    padding-left: 48px;
}
.feature div h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    width: 190px;
    margin: 0px auto;
}
.feature  p {
    color: #797979;
    font-family: 'HelveticaNeue-Thin', sans-serif;
    font-size: 18px;
    margin: 0px auto;
    width: 280px;
    text-align: center;
}

/************ main section end***************/
/********** big nose **********************/
#big-nose{
    background-image: url("../images/nose.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:850px;
    overflow: hidden;
}
.big-nose-information {
    padding-left: 30px;
}
#big-nose span {
    color: #f55150;
}
#big-nose h2 {
    color: #ffffff;
    font-size: 50px;
    width: 720px;
    padding-top: 200px;
    margin-bottom: 62px;
}
#big-nose p {
    color : #585858;
    width: 365px;
    padding-bottom: 74px;
    font-size: 24px;
}

.big-nose-information a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #d9332d;
    width: 320px;
    transition: .3s;
    border-radius: 50px;
}
.big-nose-information a:hover {
    background: #c33934;
    transition: .3s;
}

/**************** end big nose **************/
@font-face {
    font-family: 'HelveticaNeue-Thin';  /*same as file name */
    src: local('../fonts/HelveticaNeue-Thin.otf'), url("../fonts/HelveticaNeue-Thin.otf") format("opentype");
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
