target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.idea
*.iml
.idea/
css/sass/AspenDental/css/styles.css
/MediaDesign/LearnMDC/codelab/my-solution/mdc-101/package-lock.json
/MediaDesign/LearnMDC/codelab/my-solution/mdc-101/css/
/MediaDesign/LearnMDC/codelab/my-solution/mdc-101/node_modules/
/MediaDesign/LearnMDC/codelab/my-solution/mdc-101/js/
/MediaDesign/LearnMDC/codelab/my-solution/mdc-101/outjs/
